.header {
  background-color: #8db19e;
  width: 1354px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 800px;
}
.link {
    color: antiquewhite;
    text-decoration: none;
}
